@using Core.Application.Responses;
@using Domain.DTOs;
@{
    var categories = ViewData["categories"] as List<CategoryDto>;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="image/png" rel="icon" href="~/Assets/Image/Store/136 icon-no-bg.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <title>136 Mobile: Buôn bán và sửa chữa điện thoại</title>
    <link href="~/css/validate.css" rel="stylesheet" />
    <link href="~/css/base.css" rel="stylesheet" />
    <link href="~/css/shared.css" rel="stylesheet" />
    <link href="~/css/m_p.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <script src="~/js/main.js"></script>
    <script src="~/js/validate.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
</head>

<style>
    button {
        margin: 0;
    }

    .header__logo img {
        width: 150px;
    }

    .user__cart.relative .product__count {
        position: absolute;
    }

    center{
        display: none !important;
    }

    @* div:not([class]):not([id]) {
        display: none !important;
    } *@

    .nav__item{
        cursor: pointer;
    }

    .category-item{
        cursor: pointer;
    }
</style>
<body>
    <div class="forsure">
        <div id="header" class="wide grid">
            <div class="layout"></div>
            <div class="relative h-100">
                <div class="row ali-center h-100 header__body relative">
                    <div class="h-2 order2 header__logo">
                        <div class="">
                            <p data-link="/Store/Home" data-type="Home" data-can-render="true" class="nav__item active">
                                <img src="~/image/home/logo.png" />
                            </p>
                        </div>
                    </div>

                    <div class="h-8 order1 header__navbar h-100">
                        <div class="">
                            <div class="h-0 m-0 l-0 s-2">
                                <i class="fa-solid fa-bars"></i>
                            </div>
                            <div class="s-0 row ali-center jus-center w-100">
                                @if (categories != null)
                                {
                                    foreach (var category in categories)
                                    {
                                        <div class="">
                                            <p data-link="/Store/Phone" data-type="Phone" data-can-render="true" class="nav__item">@category.Name</p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="h-2 order3 header__user">
                        <div class="">
                            <div class="row ali-center jus-end">
                                <div class="ma-r-12">
                                    <i class="fa-solid fa-magnifying-glass circle-btn nav__item" data-can-render="false"></i>
                                </div>

                                <div class="forsure">
                                    <a data-link="/Store/UserCart" data-can-render="true"  class="user__cart nav__item relative">
                                        <i class="fa-solid fa-bag-shopping circle-btn"></i>
                                        <p class="product__count"></p>
                                        <div class="header__notify">
                                            <p style="color: #222">Đã thêm sản phẩm vào giỏ hàng</p>
                                            <div class="product__buy">
                                                <button>Xem giỏ hàng</button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product__search">
                    <form action="" method="get" class="get__product-name">
                        <i class="fa-solid fa-magnifying-glass nav__item"></i>
                        <input type="text" name="SP_TEN" placeholder="Tìm kiếm sản phẩm" />
                        <i class="fa-solid fa-xmark" style="cursor: pointer;"></i>
                    </form>
                </div>
            </div>
        </div>

        <div id="content">
            
        </div>

        <div id="footer">
            <div class="gird wide">
                <div class="about-web">
                    <p>Ngô Văn Sơn</p>
                    <p>2001202222</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        //_Layout
        var navbar = $(".header__navbar");
        var productCount = $(".user__cart p").first();
        var userCart = JSON.parse(localStorage.getItem("user_cart"));
        var cartBtn = $(".user__cart");
        var searchBtn = $(".fa-magnifying-glass.circle-btn");
        var endSearchBtn = $(".fa-solid.fa-xmark");
        var navItems = $(".nav__item");
        var formSearch = $(".get__product-name");

        if (userCart && userCart.length > 0) {
            productCount.addClass("active");
            productCount.text(TotalProduct(userCart));
        }

        RenderLayout();

        Array.from(navItems).forEach(navItem => {
            navItem.addEventListener("click", e => {
                document.querySelector(".nav__item.active").classList.remove("active");

                navItem.classList.add("active");

                if (navItem.dataset.canRender === "true") {
                    RenderLayout();
                    document.documentElement.scrollTop = 0;
                }
            });
        });

        formSearch.submit(e => {
            e.preventDefault();

            if ($("input[name=SP_TEN]").val() !== "") {
                $.ajax({
                    url: "/Store/Search",
                    data: formSearch.serialize(),
                    success: function (result) {
                        $("#content").html(result);
                        $("#content").css("padding-top", $("#header").height() + "px");
                        endSearchBtn.click();
                    }
                });
            }
        });

        cartBtn.click(e => {
            e.preventDefault();

            $.ajax({
                url: cartBtn.data("link"),
                success: function (result) {
                    $("#content").html(result);
                    document.documentElement.scrollTop = 0;
                }
            });
        });

        function RenderLayout() {
            var activeItem = $(".nav__item.active");

            $.ajax({
                url: activeItem.data("link"),
                success: function (result) {
                    $("#content").html(result);
                    $("#content").css("padding-top", $("#header").height() + "px");
                }
            });
        }

        //====================================================================
        searchBtn.click((e) => {
            $("#header").addClass("searching");
        });

        endSearchBtn.click((e) => {
            $("#header").removeClass("searching").addClass("not-search");
        });

        $(".layout").click((e) => {
            $("#header").removeClass("searching").addClass("not-search");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//code.tidio.co/fvewgxhyoymrpmnqgbv64lyherwomvx9.js" async></script>
</body>
</html>