<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - View</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/View.styles.css" asp-append-version="true" />
    <style>
        [class^="topzone-"], [class*="topzone-"] {
            background-image: url(https://cdn.tgdd.vn/mwgcart/topzone/images/icon-topzone.webp);
            background-repeat: no-repeat;
            display: inline-block;
            height: 35px;
            width: 103px;
            line-height: 30px;
            vertical-align: middle;
            background-size: 514px 226px;
        }

        .topzone-autho {
            background-image: url(https://cdn.tgdd.vn/mwgcart/topzone/images/APR_logo.webp);
            width: 32px;
            height: 40px;
            background-size: 100%;
        }

        .nav-link:hover {
            background: #2d2d2d;
        }

    </style>
</head>
<body style="background: #3e3e3f; color: #fff;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 bg-black py-0">
            <div class="container-fluid container">
                <div class="logo-topzone me-5">
                    <a class="me-3" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="topzone-logo"></i>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="topzone-autho"></i>
                    </a>
                </div>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white py-4 px-4" asp-area="" asp-controller="Home" asp-action="Index">IPhone</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-4 px-4" asp-area="" asp-controller="Home" asp-action="Privacy">Đồng hồ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-4 px-4" asp-area="" asp-controller="Home" asp-action="Privacy">Phụ kiện</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
           
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
